body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #A9BECA;
  font-family: 'PT Sans Narrow', sans-serif;
}

.contUno {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.tipoBoton {
  display: flex;
  justify-content: space-around;
  background-color: #B5C9FD;
  width: 100%;
  padding: 3% 0%;
  margin: auto;
}

.barraNav {
  display: flex;
  flex-direction: row;
  width: 80%;
  color: purple;
}

.barraNav a {
  display: flex;
  justify-content: space-around;
  border: 2px solid;
  border-color: purple;
  width: 20%;
  font-size: 20px;
  background-color: #B298C8;
  color: white;
  padding: 2%;
  text-decoration: none;
}

.contDos {
  display: flex;
  justify-content: center;
}

.contDos img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.resena {
  position: absolute;
  flex-direction: row;
  top: 50%;
  width: 80%;
  color: #210532;
  font-size: 20%;
}

.contTres{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

 h1 {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 50px;
  margin: 2%;
}

.ladoA {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ladoA img {
  display: inline-flex;
  width: 600px;
  height: 450px;
  padding: 10px;
  margin: 10px;
}

.ladoA p {
  display: inline-flex;
  width: 45%;
  padding: 1%;
  margin: 1%;
  font-size: 180%;
}

.cancionI{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}





.ladoB {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ladoB img {
  display: inline-flex;
  width: 600px;
  height: 450px;
  padding: 10px;
  margin: 10px;
}

.ladoB p {
  display: inline-flex;
  width: 45%;
  padding: 1%;
  margin: 1%;
  font-size: 180%;
}

.cancionII{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contCuatro{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.contCuatro iframe {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60%;
}

.formUno {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formUno input, textarea {
  border: 2px solid purple;
  padding: 2%;
  margin: 2%;
  width: 50%;
}

.formUno button {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-right: 25%
}
